{% extends "base.html" %}

{% block pagestyles %}
<link href="{{ url_for('static', filename='global.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!-- Page Wrapper:HOMEPAGE -->
<div id="page-wrapper">
    <div class="registration">
        <!-- Header:NAV BAR -->
        <header id="header">
          <div class="row">
              <div class="col-9 col-6-medium col-6-small">
                  <h1><a href="index.html">Cynical News</a></h1>
              </div>
              <div class="col-3 col-5-medium col-5-small">
                  <ul class="actions small">
                      {% if current_user.is_authenticated %}
                          <ul class="actions special">
                              <li><a href="#" class="button primary small header-btn">Dashboard</a></li>
                              <li><a href="#" class="white-btn button small header-btn" id="sign-in-btn">Logout</a></li>
                          </ul>
                      {% else %}
                          <ul class="actions special">
                              <li><a href="{{ url_for('main_bp.pricing') }}" class="button primary small header-btn">Buy</a></li>
                              <li><a href="{{ url_for('auth_bp.signin') }}" class="white-btn button small header-btn" id="sign-in-btn">Login</a></li>
                          </ul>
                      {% endif %}
                  </ul>
                  <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span></span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{{ url_for('main_bp.landing') }}">Home</a></li>
                                    {% if current_user.is_authenticated %}
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Log Out</a></li>
                                    {% else %}
                                        <li><a href="{{ url_for('auth_bp.signin') }}">Sign In</a></li>
                                        <li><a href="#">View Free Demo</a></li>
                                    {% endif %}
                                    <li><a href="{{ url_for('main_bp.pricing') }}">Pricing</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </li>
                      </ul>
                  </nav>
              </div>
          </div>
        </header>
            <!-- Registration Form -->
            <div class="registration">
                <div class="registration_container" id="registration_container">
                    <p id="form_title" style="display: none;">{{title}}</p>
                    <div class="form-container forgetpwd-process-container" id="forgetpwd-process-container">
                        {% if status == 'success' %} 
                            <h2>Success</h2>
                            <p>You have been sent a mail with instruction for password resetting!</p>
                        {% else %}
                            <h2>Something went wrong</h2>
                            <p>The Email was not found! Please retry or SignUp</p>
                        {% endif %}
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-right">
                                <h1 class="white-text">Hello, Friend!</h1>
                                <p class="white-text">Enter your personal details and start journey with us</p>
                                <br>
                                <ul class="actions stacked">
                                    <li><button class="button primary small ghost" id="signUp-redirect"><a class = "white-text" href="{{ url_for('auth_bp.signup') }}">Sign Up</button></li>
                                    <li><button class="button primary small ghost" id="signIn-redirect"><a class = "white-text" href="{{ url_for('auth_bp.signin') }}">Sign In</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>

{% endblock %}
