{% extends "base.html" %}


{% block pagestyles %}
<link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div>
  <h1>{{ body }}</h1>
</div>
<div class="form-wrapper">

  <!-- <div class="logo">
    <img src="{{ url_for('static', filename='dist/img/logo.png') }}" alt="logo"/>
  </div> -->
  <script src="{{ url_for('static', filename='stripe-jsfiles.js') }}"></script>

  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <h1>Sign Up</h1>

  <form id="signup-form">
    {{ form.csrf_token }}

    <div class="name">
      {{ form.name.label }}
      {{ form.name(placeholder='John Smith') }}
      {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="email">
      {{ form.email.label }}
      {{ form.email(placeholder='youremail@example.com') }}
      {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="password">
      {{ form.password.label }}
      {{ form.password }}
      {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="confirm-pwd">
      {{ form.confirm_password.label }}
      {{ form.confirm_password }}
      {% if form.confirm_password.errors %}
        <ul class="errors">
          {% for error in form.confirm_password.errors %}
            <li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="subscription_plan">
      {{ form.subscription_plan.label }}
      {{ form.subscription_plan }}

    </div>
    

    <div class="submit-button">
      {{ form.submit }}
    </div>

  </form>

  <div class="login-signup">
    <span>Already have an account? <a href="{{ url_for('auth_bp.login') }}">Log in</a></span>
  </div>
</div>
{% endblock %}