{% extends "base.html" %}

{% block content %}

    <div>
        <!-- <center> -->
            <h1>{{ title }}</h1>
        <!-- </center>
        <center> -->
            <canvas id="myChart" width="600" height="400"></canvas>
            <script>
            // bar chart data
                //get max-es for calculating `scaleStepWidth`
                var labels = [
                        {% for child in imm_children %}
                            "{{ child[1] }}",
                        {% endfor %}
                    ]
                var avg_popis = [
                    {% for child in imm_children %}
                        "{{ child[6] }}",
                    {% endfor %}
                ]
                var avg_counts = [
                    {% for child in imm_children %}
                        "{{ child[5] }}",
                    {% endfor %}
                ]
                var barData = {
                labels : labels,
                datasets : [{
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    // data : avg_counts
                    data : avg_popis
                }]
            }

            // get bar chart canvas
            var mychart = document.getElementById("myChart").getContext("2d");

            steps = 10
            // max = {{max_cnt}}
            max = {{max_popi}}

            // draw bar chart
            new Chart(mychart).Bar(barData, {
                    scaleOverride: true,
                    scaleSteps: steps,
                    scaleStepWidth:max / steps,
                    // scaleStepWidth: Math.ceil(max / steps),
                    scaleStartValue: 0,
                    scaleShowVerticalLines: true,
                    scaleShowGridLines : true,
                    barShowStroke : true,
                    scaleShowLabels: true
                }
            );

            </script>
        <!-- </center> -->
    </div>

    <h1>GRAPH OF SUBTOPICS(avg_popi,item_count)</h1>
    {% if imm_children%}
        <ul>
            {% for child in imm_children %}
                <li>
                   <a href = '/itemresult/{{child[1]}}'>Name: {{child[1]}} , ItemCount: {{child[5]}}, AvgPopI: {{child[6]}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr><hr>
    <h1>ARTICLES</h1>
    {% if hn_items %}
        <h2>Here are top 10 results for <u>{{query}}</u> from HN :</h2>
        <ul>
            {% for item in hn_items %}
                <li><div><p>[{{item[0]}}] <a href = "{{item[2]}}" >{{item[1]}}</a> -@ {{item[4]}} - {{item[3]}} </p></div></li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    {% if r_items %}
        <h2>Here are top 10 items for <u>{{query}}</u> from Reddit :</h2>
        <ul>
            {% for item in r_items %}
                <li><div><p>[{{item[0]}}] <a href = "{{item[2]}}" >{{item[1]}}</a> -@ {{item[4]}} - {{item[3]}} </p></div></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


